@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(165, 96, 96);
  color: brown;
  text-align: center;
  margin-top: 100px;
}
